.DS_Store

# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/
/broadcast

# Dotenv file
.env
node_modules
.env

# Hardhat files
/cache
/artifacts
/cache-zk
/artifacts-zk
/cache_hardhat-zk
/cache_hardhat

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
